@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #ffffff;
  position: relative;
}

.navigation {
  display: flex;
}

.navigation-left {
  display: flex;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
  margin-bottom: -10px;
  z-index: 2;
}

.navigation-logo:hover {
  opacity: 0.7;
}

.navigation-logo:focus {
  opacity: 0.7;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 470px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  z-index: 1;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color:  rgba(117, 97, 87, 0.3);
}

.navigation-user {
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 268px;
}

.navigation-user-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-user-link:hover .navigation-icon {
  fill: #756157;
}

.navigation-user-link:focus .navigation-icon {
  fill: #756157;
}

.navigation-user-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.favorite-likes {
  position: absolute;
  top: 11px;
  left: 20px;
  z-index: 1;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  padding: 5px;
  border-radius: 10px;
  background-color: #7DB54F;
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 160px;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  border-radius: 4px;
  background-color: #756157;
  display: block;
  box-sizing: border-box;
}

.header-button:hover, .product-card-button:hover {
  background-color: #615048;
}

.header-button:focus, .product-card-button:focus {
  background-color: #615048;
}

.header-button:active, .product-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3)
}

.header-button:disabled, .product-card-button:disabled {
  background-color: #E5E5E5;
}

.main-container {
  flex-grow: 1;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero {
  background-image: url("../images/hero-background.jpg");
  background-color: #2d566f;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 79% 93.5%, 79% 88.5%, 50% 100%, 21% 88.5%, 21% 93.5%, 0 88%, 0 0);
  margin: 0 auto;
  padding: 0;
}

.advantages-slogan {
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 69px 272px;
}

.advantages-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-text {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item-hight .advantages-wraper {
  padding: 102px 85px;
}

.advantages-wraper {
  padding: 112.5px 84px;
  flex-grow: 1;
}

.advantages-item {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-item-hight {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  width: 1200px;
}

.advantages-item-medium {
  background: #83B3D333;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0 29px;
  margin-bottom: 62px;
  position: relative;
}

.advantages-item .advantages-title::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 85px;
  right: 85px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-item-hight .advantages-title::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 85px;
  right: 85px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-description {
  color: #333333;
  text-align: center;
  margin: 0;
}

.advantages-item-hight .advantages-description {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-img {
  background-size: contain;
}

.infrastructure-slogan {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.infrastructure-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.infrastructure-text {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.infrastructure-item {
  text-align: center;
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-item:nth-child(even) {
  background-color: #FFFFFF;
}

.infrastructure-wrapper {
  width: 230px;
  margin: 0 auto;
  padding: 80px 0;
}

.infrastructure-wrapper-house::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.infrastructure-wrapper-food::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.infrastructure-wrapper-souvenir::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.infrastructure-description {
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.search {
  padding: 96px 300px;
}

.search-wrapper {
  text-align: center;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-text {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #E5E5E5;
}

.subscribe-main {
  background-image: url("../images/subscribe.jpg");
  background-color: #2d566f;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 96px 258px 104px;
}

.subscribe-catalog {
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  padding: 96px 258px 104px;
}

.subscribe-catalog .subscribe-text {
  color: #333333;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-name {
  margin: 0;
}

.subscribe-email {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  width: 452px;
  padding: 14px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-email::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-email:hover {
  background-color: #E6E6E6;
}

.subscribe-email:focus {
  background-color: #E6E6E6;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  padding: 8px 50px;
  cursor: pointer;
  min-width: 232px;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
}

.subscribe-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #E5E5E5;
}

.footer-container {
  display: flex;
  width: 1060px;
  margin: 40px 70px 30px;
  background-color: #ffffff;
  justify-content: space-between;
}

.social-list {
  list-style-type: none;
  min-width: 142px;
  max-width: 150px;
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-link {
  display: block;
  position: relative;
  padding: 20px 11px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 333px;
  justify-content: center;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color:  rgba(117, 97, 87, 0.3);
}

.copyright {
  display: block;
  position: relative;
  width: 115px;
  margin: 8px 0;
}

.logo-academy {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.copyright:hover .logo-academy {
  fill: #756157;
}

.copyright:focus .logo-academy {
  fill: #756157;
}

.copyright:active .logo-academy {
  fill: rgba(117, 97, 87, 0.3);
}

.filter {
  background-image: url("../images/filters.jpg");
  background-color: #2d566f;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  width: 7px;
  height: 10px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link-home {
  display: block;
  position: relative;
  width: 13px;
  height: 15px;
  padding: 3px 0;
  fill: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 28px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  min-width: 151px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: 0;
}

.catalog-filter-group:last-child {
  margin-right: 140px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  border-radius: 4px;
  background: #FFFFFF;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled {
  opacity: 0.3;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.control-mark-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  border-radius: 50%;
  background: #FFFFFF;
}

.control-input[type="radio"]:focus-visible + .control-mark-radio {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  outline: 3px solid #83B3D3;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  content: "";
  background-color: #3F5E72;
  height: 10px;
  width: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}

.control-label {
  line-height: 23px;
}

.control {
  cursor: pointer;
}

.catalog-filter-group-left {
  width: 371px;
  display: flex;
}

.catalog-filter-group-right {
  width: 550px;
  display: flex;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 44px;
}

.range-input {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 143px;
  height: 48px;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 38px 12px 20px;
  border: none;
  position: relative;
  appearance: textfield;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.range-input-min {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-range-control {
  position: relative;
}

.label-text {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus,
.range-toggle:active {
  border: 3px solid #83B3D3;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.catalog-filter-buttons {
  width: 191px;
  margin-top: 56px;
}

.catalog-filter-submit {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  background-color: #82B3D3;
  margin-bottom: 32px;
  cursor: pointer;
}

.catalog-filter-submit:hover, .add-favorite-button:hover, .submit-search-button:hover {
  background-color: #68A2CA;
}

.catalog-filter-submit:focus, .add-favorite-button:focus, .submit-search-button:focus {
  background-color: #68A2CA;
}

.catalog-filter-submit:active, .add-favorite-button:active, .submit-search-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-submit:disabled, .add-favorite-button:disabled {
  background-color: #E5E5E5;
}

.catalog-filter-reset {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 58px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog-filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-reset:focus {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-reset:disabled {
  color: rgba(255, 255, 255, 0.3);
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-control {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 6px 0;
}

.catalog-buttons {
  width: 522px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  padding: 12px 20px;
  background-image: url("../images/select-control-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #68A2CA;
  outline: none;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.view-buttons {
  list-style-type: none;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus {
  border-color: #68A2CA;
  outline: none;
}

.view-button:active {
  border-color: #000000;
}

.view-button-current {
  border: 2px solid #000000;
}

.view-button-tile {
  background-image: url("../images/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button-card {
  background-image: url("../images/cards.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button-list {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.product-list {
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
  position: relative;
}

.product-list::after {
  content: "";
  position: absolute;
  bottom: -40px;
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
}

.product-card {
  width: 300px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content;
  gap: 16px 20px;
  box-shadow: 0 0 0 1px rgba(230, 230, 230, 1);
  border-radius: 4px;
}

.product-card-img {
  display: block;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  grid-column: 1 / -1;
}

.product-card-link:hover {
  opacity: 0.8;
}

.product-card-link:active {
  opacity: 0.6;
}

.product-card-type {
  color: #333333;
  margin: 0;
  padding: 0;
}

.product-card-price {
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: end;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 140px;
  padding: 8px 26px;
  border-radius: 4px;
  background-color: #756157;
}

.add-favorite-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 140px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.add-favorite-button-current {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.add-favorite-button-current:hover {
  background-color: #6C9E42;
}

.add-favorite-button-current:focus {
  background-color: #6C9E42;
}

.add-favorite-button-current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.add-favorite-button-current:disabled {
  background-color: #E5E5E5;
}

.product-card-stars {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  gap: 6px;
}

.star.active {
  content: "";
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.pagination {
  list-style-type: none;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  gap: 8px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  padding: 11px 18px;
  border-radius: 4px;
  background-color: #82B3D3;
  min-width: 60px;
  min-height: 60px;
  display: block;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:disabled {
  background-color: #E5E5E5;
}

.pagination-link.dotted {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link.current {
  color: #000000;
  background-color: #f2f2f2;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
  display: flex;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 717px;
  box-sizing: border-box;
}

.modal-button-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  width: 682px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.field-group {
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.quantity-human-wraper {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.field-group-label,
.number-adults-label,
.number-children-label {
  display: flex;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  position: relative;
}

.field-booking-date {
  box-sizing: border-box;
  border: none;
  background-color: #F2F2F2;
  width: 440px;
  height: 48px;
  border-radius: 4px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 20px;
}

.field-booking-date::placeholder {
  opacity: 0.6;
}

.input-label {
  margin-right: auto;
}

.warning-input {
  box-sizing: border-box;
  width: 440px;
  margin-left: auto;
  padding-left: 20px;
}

.warning-input.message-error {
  color: #FF5757;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.warning-input.message {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.input-icon {
  position: absolute;
  box-sizing: border-box;
  top: 10px;
  right: 17px;
  padding: 2px 2px 3px;
  opacity: 0.3;
}

.number-adults,
.number-children {
  box-sizing: border-box;
  border: none;
  background-color: #F2F2F2;
  width: 111px;
  height: 48px;
  border-radius: 4px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 0 35px;
  appearance: textfield;
}

.number-adults::-webkit-inner-spin-button,
.number-children::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.adults-label,
.children-label {
  margin-right: 46px;
}

.children-label {
  margin-right: 82px;
}

.button-minus,
.button-plus {
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-minus {
  top: 14px;
  right: 80px;
}

.button-minus svg {
  display: block;
}

.minus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.button-plus {
  top: 14px;
  right: 10px;
  padding: 3px;
}

.button-plus svg {
  display: block;
}

.pluse-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.submit-search-button {
  box-sizing: border-box;
  width: 577px;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #83B3D3;
  padding: 18px 77px;
  margin-top: 21px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.tooltip {
  position: absolute;
}

.tooltip-toggle {
  display: block;
  border: none;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.tooltip-icon {
  display: block;
  width: 100%;
}

.tooltip-text {
  display: none;
  box-sizing: border-box;
  position: absolute;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
  padding: 19px 18px 21px 22px;
  width: 256px;
  border-radius: 10px;
  transform: translateX(-104px) translateY(9px);
  z-index: 1;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-figure {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333333;
  top: -8px;
  left: 118px;
  background-color: transparent;
}

.modal-button-close:hover {
  background-color: #E6E6E6;
}

.modal-button-close:focus {
  outline: none;
}

.modal-button-close:focus-visible {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.modal-button-close:active svg {
  opacity: 0.3;
}

.field-booking-date:hover {
  background-color: #E6E6E6;
}

.field-booking-date:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.field-error {
  color: #FF5757;
}

.button-minus:hover .minus-icon,
.button-plus:hover .pluse-icon {
  fill: #000000;
}

.button-minus:focus .minus-icon,
.button-plus:focus .pluse-icon {
  outline: none;
}

.button-minus:focus-visible,
.button-plus:focus-visible {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.button-minus:active .minus-icon,
.button-plus:active .pluse-icon {
  opacity: 0.2;
}
