@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-left {
  display: flex;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 470px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  text-decoration: underline;
}

.navigation-user {
  list-style: none;
  max-width: 300px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.favorite-likes {
font-size: 10px;
font-weight: 400;
line-height: 10px;
color: #ffffff;
text-align: center;
vertical-align: top;

padding: 5px;
border-radius: 10px;
background-color: #7DB54F;
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  background-color: #ffffff;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/welcome-background-new.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-item-background {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  width: 1200px;
}

.advantages-item-background:last-child {
  flex-direction: row-reverse;

}

.advantages-item-background-different {
  background: #83B3D333;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
  text-align: center;
}

.advantages-item-background .advantages-description  {
  color: #ffffff;
  background-color: #82B3D3;
}

.infrastructure-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.infrastructure-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.infrastructure-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.infrastructure-item {
  width: 400px;
}

.infrastructure-item-background {
  background-color: #83B3D31F;
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.infrastructure-description {
  color: #333333;
  text-align: center;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}

.main-index .subscribe {
  background-image: url("../images/subscribe.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;

  color: #ffffff;
}

.main-inner .subscribe {
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  text-align: center;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  padding: 8px 50px;
  border: none;
  background-color: #82B3D3;
}

.footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.social-list {
  list-style: none;
  max-width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 42px;
}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;

  width: 720px;
}

.copyright {
  width: 115px;
  margin-left: auto;
}

.main-inner {
  background-color: #ffffff;
}

.filter {
  background-image: url("../images/filters.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;

  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
  display: flex;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.catalog-filter-group-left  {
  width: 371px;
  display: flex;
}

.catalog-filter-group-right {
  width: 550px;
  display: flex;
}

.catalog-filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.catalog-filter-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  background-color: #82B3D3;
}

.catalog-filter-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  background-color: #82B3D3;
}

.catalog-control {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  width: 338px;
  margin-right: 200px;
}

.catalog-buttons {
  width: 522px;
  display: flex;
  justify-content: space-between;
}

.select-control {
  width: 292px;
}

.view-buttons {
  list-style: none;
  width: 160px;
  display: flex;
}

.product-list {
  list-style: none;
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.product-card {
  width: 300px;
  gap: 20px;
  padding: 20px;
}

.product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}

.add-favorite-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  padding: 8px 50px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.product-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}

.pagination {
  list-style: none;
  display: flex;
  width: 1060px;
  justify-content: flex-start;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  border-radius: 4px;
  background-color: #82B3D3;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;

}
