@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header-container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
  background-color: #ffffff;

  position: relative;
}

.navigation {
  display: flex;
}

.navigation-left {
  display: flex;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
  margin-bottom: -10px;
  z-index: 2;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 470px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  text-decoration: underline;
  text-underline-offset: 21px;
  z-index: 2;
}

.navigation-user {
  max-width: 350px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
}

.navigation-user-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  fill: none;
  margin: auto;
  fill: #000000;
}

.favorite-likes {
position: absolute;
top: 11px;
left: 20px;
z-index: 1;
font-size: 10px;
font-weight: 400;
line-height: 10px;
color: #ffffff;
text-align: center;
vertical-align: top;
padding: 5px;
border-radius: 10px;
background-color: #7DB54F;
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 160px;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  border-radius: 4px;
  background-color: #756157;
  display: block;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  background-size: cover;
}

/* Hero */

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero {
  background-image: url("../images/hero-background.jpg");
  background-color: #a1d1f1;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 79% 93.5%, 79% 88.5%, 50% 100%, 21% 88.5%, 21% 93.5%, 0 88%, 0 0);
  margin: 0 auto;
  padding: 0;

}

/* Advantages */

.advantages-slogan {
  width: 651px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 69px 0;
}

.advantages-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item-hight .advantages-wraper {
  padding: 102px 85px;
}

.advantages-wraper {
  padding: 112.5px 85px;
}

.advantages-item {
  background-color: #83B3D31F;
  width: 400px;
}

.advantages-item-hight {
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  width: 1200px;
}

.advantages-item-hight:last-child {
  flex-direction: row-reverse;
}

.advantages-item-medium {
  background: #83B3D333;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0 29px;
  margin-bottom: 62px;
}

.advantages-description {
  color: #333333;
  text-align: center;
  margin: 0;
}

.advantages-item-hight .advantages-description  {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-img {
  background-size: contain;
}

/* Infrastructure */

.infrastructure-slogan {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.infrastructure-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.infrastructure-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.infrastructure-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.infrastructure-item {
  width: 400px;
  padding: 81px 85px;
}

.infrastructure-item:nth-child(1) .infrastructure-wrapper::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.infrastructure-item:nth-child(2) .infrastructure-wrapper::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.infrastructure-item:nth-child(3) .infrastructure-wrapper::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

.infrastructure-item-medium {
  background-color: #83B3D31F;
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.infrastructure-description {
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

/* Search */

.search {
  margin: 0 auto;
  padding: 96px 304px;
  width: 592px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 376px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}

/* Subscribe */

.main-index .subscribe {
  background-image: url("../images/subscribe.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 96px 258px 104px;
}

.main-inner .subscribe {
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  padding: 96px 258px 104px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-name {
  margin: 0;
}

.subscribe-form-name input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
  padding: 8px 50px;
}

/* Footer */

.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.social-list {
  list-style-type: none;
  max-width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 42px;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-link {
  display: block;
  position: relative;
  padding: 20px 11px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  width: 720px;
  text-align: center;
}

.copyright {
  width: 115px;
  margin-left: auto;
}

/* Filtres */

.filter {
  background-image: url("../images/filters.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  width: 7px;
  height: 10px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link-home {
  display: block;
  position: relative;
  width: 13px;
  height: 15px;
  padding: 3px 0;
  fill: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 28px;
}

.catalog-filter {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-group-left  {
  width: 371px;
  display: flex;
  gap: 70px;
}

.catalog-filter-group-right {
  width: 550px;
  display: flex;
}

.catalog-filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.catalog-filter-buttons {
  width: 191px;
  margin-top: 56px;
}

.catalog-filter-submit {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.catalog-filter-reset {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
}

/* Catalog */

.catalog {
  padding: 50px 70px 60px;
}

.catalog-control {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 6px 0;
}

.catalog-buttons {
  width: 522px;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  padding: 12px 20px;
  background-image: url("../images/select-control-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.view-buttons {
  list-style-type: none;
  width: 160px;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-button-current {
  border: 2px solid #000000;
}

.view-button-tile {
  background-image: url("../images/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button-card {
  background-image: url("../images/cards.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-button-list {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Cards */

.product-list {
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
}

.product-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: ;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content;
  gap: 16px 20px;
}

.product-card-img {
  display: block;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  grid-column: 1 / -1;
}

.product-card-type {
  margin: 0;
  padding: 0;
}

.product-card-price {
  margin: 0;
  padding: 0;
  text-align: end;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
  border-radius: 4px;
  background-color: #756157;
}

.add-favorite-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.add-favorite-button-current {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.product-card-stars {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  gap: 6px;
}

.star.active {
  content: "";
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.product-card-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

/* Pagination */

.pagination {
  list-style-type: none;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  gap: 8px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
  padding: 11px 18px;
  border-radius: 4px;
  background-color: #82B3D3;
  min-width: 60px;
  min-height: 60px;
  display: block;
}

.pagination-link-dotted {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}
